.demoApp {
  width: 1200px;
  margin: 0 auto;
}

.headerDemoApp {
  width: 100%;
  margin: 16px 0px;
  display: flex;
  justify-content: space-between;
}

.bodyDemoApp {
  display: flex;
  gap: 8px;
  height: calc(100vh - 54px);
}
